.slider{
    height:500px;
    background-position:center;

}

.sliderH5{
    color:#333333;
    font-weight:bold;
}

.sliderp{
    color:#333333;

}

.cajasIconos{
    background:#dddddd;;
}

.iconos{
    height:80px !important;
    margin:5px;
}

.imagennoticia{
    width:auto;
}

